<%= render 'shared/sidebar' %>
<div class="p-4 sm:ml-64">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Author
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <td class="px-6 py-4">
                <%= post.id %>
              </td>
              <th scope="row" style="width: 300px; text-wrap: wrap;" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                  <div class="ps-3">
                    <div class="text-base font-semibold">
                      <%= post.title %>
                    </div>
                  </div>  
              </th>
              <td class="px-6 py-4">
                <%= post.author.name %>
              </td>
              <td class="px-6 py-4">
                <%= post.category %>
              </td>
              <td class="px-6 py-4">
                  <div class="flex items-center">
                      <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2">

                      </div><%= post.status %>
                  </div>
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline items-center">
                    <i class="fa-solid fa-pencil"></i>
                  </a>
                  <a href="#" class="ml-3 font-medium text-red-600 dark:text-red-500 hover:underline items-center">
                    <i class="fa-solid fa-trash"></i>
                  </a>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>

</div>
